.scroll-up{
    margin-left: 96%;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: rgb(236, 231, 227);
    justify-content: center;
    align-items: center;
    border: 1px solid darkred;
    padding: 6px;
    margin-bottom: -35%;
}
.scroll-up:hover{
    background-color: rgb(179, 145, 60);
}