* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.icon img {
  width: 3rem;
  height: auto;
}
.icon1 img {
  width: 3rem;
  height: auto;
}
.contact {
  position: relative;
  min-height: 100hv;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url('/images/pasta.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.contact .content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 50px;
  font-weight: 400;
  color: beige;
}
.contact .content p {
  padding-top: 4px;
  font-size: 26px;
  font-weight: 275;
  color: beige;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contact-info .box {
  position: relative;
  padding: 25px 0;
  display: flex;
}

.container .contact-info .box .icon {
  min-width: 4.5rem;
  height: 4.5rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contact-info .box .text {
  display: flex;
  margin-left: 20px;
  margin-bottom: 3px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container .contact-info .box .text h3 {
  font-weight: 500;
  color: bisque;
}

.contact-form {
  width: 40%;
  padding: 40px;
  background: #fff;
}
.contact-form h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:valid ~ span {
  color: #592b00;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
  width: 100px;
  background: rgb(245, 245, 166);
  color: rgba(0, 0, 0, 0.775);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
 
  #contactus-container {
    display: grid;
  }
  .contact .content h2,
  .contact .content p {
    display: none;
  }

  .container .contact-info {
    width: 100%; 
    margin-bottom: 20px; 
  }

  .contact-form {
    width: 100%;
    padding: 40px;
    background: #fff;
    margin-top: -20px;
  }
}
