.top{
    margin-top: -80px;
    cursor: pointer;
}

.open{
    margin-right: 10px;
    cursor: pointer;
}
@media  screen and (max-width:912px) {
    .top{
        margin-top: -20px;
        margin-left: 20px;
    }  
    .grid{
        background-color: rgb(95, 102, 95); 
        margin-top: 100px;
        border-radius: 10px;
        margin-right: 10px;
        padding: 8px;
       
    }
}