/* 
.navbar {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    padding: 4px;
    color: #000000;
    z-index: 99;
    margin-top: 4%;
  }
  .navbar-text {
    text-align: center;
    font-weight: 800;
    gap: 30px;
    margin-left: 20px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
 
 
  } */