.header{
   width: 200px;
    margin-top: 80px;
    background: none;
    position: fixed;
    z-index: 99;
    height: 50px;
    box-shadow: none;
}
.header h1{
    color: #ffc107;
      font-family: "elinga", "Roboto";
      font-weight: 600;
      font-size: 2rem;
      margin-left: 10%;
    
    }
    h1:hover{
        color: aliceblue;
      }    

@media screen and (max-width: 600px) {
    .header {
        margin-top: 30px;
        margin-left: -40px;
        width: 90%;
      }
    }